.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.home .left {
    width: 60%;
    padding: 0 60px;
    text-align: justify;
}

.home .left h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.home .left .welcome {
    font-size: 24px;
    font-weight: 500;
}

.home .left .descri {
    margin-bottom: 30px;
}

.home .right {
    /* border: 1px solid black; */
    width: 40%;
}