.loader {
    position: fixed;
    width: 100vw;
    margin: 0 0 0;
    padding: 19%;
    height: 100vh;
    background-color: rgba(231, 229, 229, 0.4);
    z-index: 14;
    overflow: hidden;
}

.load {
    position: absolute;
    width: calc(100vw - 250px);
    height: calc(100vh - 70px);
    top: 70px;
    left: 250px;
    padding: 17%;
    overflow: hidden;
    background-color: rgba(231, 229, 229, 0.2);
}

.terms-cont {
    width: 85%;
    margin: 1% auto;
    padding: 3%;
    background-color: rgb(242, 242, 255);
    border-radius: 5px;
}

.term-title {
    color: rgb(55, 55, 55);
    margin: 0 0 3%;
}

.terms {
    font-size: 80%;
}

.error-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
}